$pageGap: 24px;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: $pageGap;
  text-align: center;
}

.app {
  .fixed-wrapper {
    position: fixed;
    top: 0;
    padding-top: $pageGap;
    width: calc(100% - $pageGap * 2);
  }
}

// TABLET
@media screen and (min-width: $tablet) {
  .fixed-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .logo,
    .search {
      flex-grow: 1;
      width: auto;
    }
  }
}

// MOBILE & TABLET
@media screen and (max-width: $desktop) {
  .light {
    .shrink {
      background: rgba(255, 255, 255, 0.3);
    }
  }
  .dark {
    .shrink {
      background: rgba(36, 36, 36, 0.3);
    }
  }

  .fixed-wrapper:not(.shrink) {
    .logo {
      text-align: left;
    }
  }

  .shrink {
    backdrop-filter: blur(15px);
    border-radius: 0 0 5px 5px;
    padding-top: 10px;
    z-index: 1;
  }
}

// DESKTOP
@media screen and (min-width: $desktop) {
  .app {
    display: flex;

    .fixed-wrapper {
      width: calc(60% - $pageGap);

      .search {
        display: none;
      }
    }
  }
}

// THEME
.app {
  &.dark {
    color: #fff;
  }
}
